.Button {
  padding: 13px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 176px;
  border: 2px solid #fc842d;
  border-radius: 30px;
  background-color: #fc842d;
  color: #ffffff;
  font-weight: 700;
  font-family: Verdana;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.04em;
  outline: none;
  margin-top: 60px;
}

.Button:hover {
  background-color: #fc842d;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}
