.sideBarContainer {
  padding: 40px 15px;
  background-color: #f0f1f3;
  margin: 0 auto;
  min-width: 260px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 768px;

    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(../../images/rightSideBar/tabl.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 90% left 142px;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    width: unset;
    padding: 146px 60px 100px 90px;
    background-image: url(../../images/rightSideBar/desk.png);
    background-size: contain;
    background-position: top 90% left 67px;
  }
}
.characteristicBox {
  margin-left: auto;
  margin-right: auto;
  min-width: 260px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin: 0;
    width: 250px;
    margin-right: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-bottom: 60px;
  }
}

.sideBarTitle {
  margin: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: #212121;
}

.sideBarList {
  list-style: none;
  margin: 0;
  padding: 0;
  // @media screen and (min-width: 768px) {
  //   margin-bottom: 0;
  // }
}

.sideBarItem {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.sideBarItem_text {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: #9b9faa;
}

.notAllowedProductsTitle {
  margin: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: #212121;
}

.notAllowedProductsItems {
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: #9b9faa;
}

.notAllowedProductsBox {
  margin-left: auto;
  margin-right: auto;
  min-width: 260px;
  @media screen and (min-width: 768px) {
    margin: 0;
    width: 260px;
  }
}
