.calcPageWrapper {
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: center;
  }
}
.calcPageContainer {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    width: 605px;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: 60%;
    margin: 0;
  }
}

.RightSideBarContainer {
  background-color: #f0f1f3;
  flex-basis: 40%;
}
// .calculatorPageWraper {
//   @media screen and (min-width: 1280px) {
//     display: flex;
//     justify-content: space-between;
//   }
// }
