.calcPageWrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}
.calcPageContainer {
  min-width: 250px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 40px auto 60px;
  @media screen and (min-width: 480px) {
    min-width: unset;
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 100px auto 75px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 134px;
    flex-basis: 60%;
    margin: 0;
    padding: 0;
  }
}

.RightSideBarContainer {
  background-color: #f0f1f3;
  flex-basis: 40%;
  @media screen and (min-width: 1200px) {
    background-color: unset;
  }
}
// .calculatorPageWraper {
//   @media screen and (min-width: 1280px) {
//     display: flex;
//     justify-content: space-between;
//   }
// }
