.Container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
}
