.navLink {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;

  color: #212121;
}
