.navLink {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;

  color: #9b9faa;
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.activeNav {
  color: #212121;
}
