.main {
  background-color: #fff;
  background-image: url("../../images/bg/bg_home.jpg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  /* background-size: contain;
  width: 941px; */
  height: 850px;
}
