.headerWrapper {
  border-bottom: 2px solid #e0e0e0;
  width: inherit;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    border-bottom: none;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  @media screen and (min-width: 768px) {
    padding: 17px 0;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    justify-content: flex-start;
  }
}

.menuRight {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    width: 100%;
    justify-content: space-between;
  }
}

.navWrapper {
  width: inherit;
}

.navWrapperLogin {
  display: flex;
}

.navWrapperLogOut {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    position: relative;
    top: 6px;
  }
}

.hide {
  display: none;
}
