.headerWrapper {
  margin-bottom: 50px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-bottom: 120px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 144px;
    border-bottom: none;
  }
}
.headerContainer {
  display: flex;
  align-items: center;
  padding: 18px 15px 0;
  @media screen and (min-width: 768px) {
    padding: 17px 87px 0;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 82px;
    padding-left: 90px;
  }
}
