.bgLogOut {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  @media screen and (min-width: 480px) {
    background-image: url("../images/bg/bg_tablet.png");
    background-position: 100% 100%;
  }
  @media screen and (min-width: 1200px) {
    background-image: url("../images/bg/bg_home.jpg");
    background-position: 100% 50%;
  }
}

.bgLogin {
  background: none;
  height: 100vh;
  @media screen and (min-width: 1200px) {
    width: 1050px;
    margin: 0 auto;
    background: linear-gradient(
      270deg,
      rgba(240, 241, 243, 1) 40%,
      rgba(255, 255, 255, 1) 40%
    );
  }
}
